[Unit]
Description=Test service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 {{charm_dir}}/src/systemd_juju_notices.py

[Install]
WantedBy=multi-user.target
